.markdown-body.dark {
  background-color: #0d1117;
  color: #c9d1d9;
}

.markdown-body.dark a {
  color: #58a6ff;
}

.markdown-body.dark pre {
  background-color: #161b22;
  color: #ffffff;
}

.markdown-body.dark code {
  background-color: #161b22;
  color: #ffffff;
}
